/* Add a background color to the top navigation */
nav {
    overflow: hidden;
    margin-right: -0.5em;
    margin-left: -0.5em;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    display: flex;
	justify-content: center;
}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: block;
	padding: 1.5em 1.5em;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
nav .icon {
    display: none;
}

